# Build output
build/
build_msvc/
bin/
bin_msvc/

# Sublime Text project files
*.sublime*

# CLion folders
.idea/
*-build-*/

# Python files
*.py

# Local build script
build.bat

# Local cmake settings
local.cmake
